body {
  background-color: black;
  color:white
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-warpper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}
.row{
  display: flex;
}


